
body {
	font-family: 'Murecho', sans-serif;
	color: #e7e0e0;
	font-size: 18px;
	line-height: 1.5;
	background-color: #f2f5e7;
}

/* --- Responsive Sidebar navigation adapted from W3.CSS Templates --- */
.w3-bar-block {
	display: flex;
	justify-content: left;
	padding-top: 80px;
	display:none;
	z-index:2;
	width:20%;
	min-width:300px
}

.w3-bar-item {
	padding:8px ;
	width:auto;
	border:none;
	display:block;
	outline:0;
	width:100%;
	white-space:normal;
	font-size: 24px;  /*  Menu items font size  */
}

.w3-bar {
	width:100%;
	overflow:hidden
}

.w3-top,
.w3-bottom {
	position:fixed;
	width:100%;
	z-index:1
}

.w3-top {
	top:0;
	font-size: 48px;  /* Hamburger bars size */
	background-color: #8B0000;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	position: absolute;
}

.w3-card {
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.w3-sidebar {
	height:100%;
	width:200px;
	background-color:#fff;
	position:fixed!important;
	z-index:1;
	overflow:auto;
}

.w3-animate-left {
	position:relative;
	animation:animateleft 0.4s;
}

@keyframes animateleft { from {left:-300px;opacity:0} to{left:0;opacity:1}}
/* The @keyframes CSS at-rule controls the intermediate steps in a CSS animation
sequence by defining styles for keyframes (or waypoints) along the animation
sequence. */ 

.w3-button {
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap}

.w3-button {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none} 

.w3-button:disabled {
	cursor:not-allowed;
	opacity:0.3
}
.flexed {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}
.flexed img {
	display: inline-block;
	padding-bottom: 16px;
}
/* --- Typographical Scales --- */

/* Viewport is the browser window size. 1vw = 1% of viewport width. */
header h1 { /* 64px is 3.333%  of 1920px */
	font-size: 3.333vw;
	font-family: "Playwrite AU TAS", cursive;
	font-weight: 400;
	color: #123650;
}
header h2 { /* 40px is 2.083%  of 1920px */
	font-size: 2.083vw;
}
header h2 a {
	text-decoration: none;
	letter-spacing: 0.35px;
	text-shadow: 3px 3px 5px #FFFFFF;
	font-weight: 500;
}

/* Call to action roll over effects */
header h2 a:link, header h2 a:visited {
	color: #407d2c;
}

header h2 a:hover, header h2 a:active {
	color:#962635;
	text-shadow: 3px 5px 6px rgba(255,255,255,0.6);
	transition: 0.3s all;
}

.shine {  /*  Call to action color  */
	color:  #d10e28;
	font-weight: 600;
}

h1, h2, h3 {
	font-family: "Playfair Display", serif;
	font-weight: 500;
	color: #FF8C00;
}

h2, h3 {
	line-height: 1;
	margin: 40px 0;
}
h2 {
	font-size: 20px;
	font-family: "Playfair Display", serif;
	font-style: normal;
}

h3 {
	font-size: 20px;
}

p {
	margin-bottom: 18px;
	color: #312d2d;
}

/* layout */

nav {
	background-color: #fff;
	width: 100%;
}

.w3-bar-item:link, .w3-bar-item:visited {
	color:#427ac1;
	text-decoration: none;
}

.w3-bar-item:hover, .w3-bar-item:active {
	color: #333;
	text-decoration: underline;
}

header {
	margin-top: 80px;  /* Space for the nav on page load */
	}

/*  Places the content image in the bg with the headings on top  */
.header-bg-wrap {
  	overflow: hidden;
  	position: relative;
}

.header-bg-image {
  	opacity: 0.50;
  	/*The opacity property specifies the opacity/transparency of an element.*/
  	position: absolute;
  	left: 0;
  	top: 0;
  	width: 100%;
  	/* height: auto; */
	height: calc(100vh - 16.5rem);
}

.header-content {
	height: 46.296vh; /* Roughly 500px of 1080px high screen */
 	position: relative;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  }

main, .bg-container {
	width: 71%;
	margin: 20px auto;
	}

main {
	padding-top: 20px;
	overflow: hidden;
}

.content {
	margin-left: auto;
 	margin-right: auto;
  	width: 80%;
}

.content h2 {
	display: flex;
	justify-content: center;
	white-space: nowrap;
	font-size: clamp(30px, 5vw, 70px);
	font-size: 65px;
	margin-top: 5px;
	padding-bottom: 10px;
	color: #123650;  
	font-weight: 600;
	/* #FF8C00 orange */
}

article img {
	border: none;
	-webkit-box-shadow: 3px 3px 7px #777;
	-moz-box-shadow: 3px 3px 7px #777;
}

.image-container {
	width: 70%;
	margin: 0 auto;
}

footer {
	padding: 40px 0;
	margin-top: 24px;
	background-color: #4d3728;
}

footer ol {
	font-size: 20px;
	text-align: center;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
}

footer ol li {
	margin: 10px;
	display: block; 
	/*Makes the li selectable up the to the edge of the margins*/
}

footer a:link, a:visited {
	color:#fff;
	text-decoration: none;
}

footer a:hover, a:active {
	color: #f8f2f2;
	text-decoration: underline;
}

/* -- Code for the Cookie Compliance popover window -- */
/*
#cookiePopup {
  background-color: #ffffff;
  position: absolute;
  left: 5%;
  bottom: 0;
  font-size: 14px;
  width: 90%;
  box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
  font-family: "Poppins", sans-serif;
  text-align: justify;
  line-height: 1.8em;
  margin: 0 auto;
  padding: 2em 1.4em;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}

#cookiePopup p {
  text-align: center;
  margin: 1.4em 0;
}
#cookiePopup button {
  background-color: #6859fe;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  padding: 1em 1.4em;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 5px;
}
#cookiePopup a {
  color: #6859fe;
}

.hide {
  visibility: hidden;
  
}
.show {
  visibility: visible;
 
}
*/
/* -- End of Code for the Cookie Compliance popover window -- */

@media only screen and  (min-width:900px) {
 
 nav {
 	width: 40%;
 }

 h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

.outer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}

.inner-container {
	width: 48%;
	}

	.w3-bar-item {
		font-size: 36px;
	}

}

@media only screen and  (min-width:1340px) {
 
 .hamburger-position {
		margin-left: 10%;
	}
}
